# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
.Python

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite
*.sqlite3

# Sensitive data
*.env
.env
config.py

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

colnames
deleted.py
SQL_queries/
